/* 字体大小 */
$Font_Size_Huge: 5.25rem;
$Font_Size_Big: 3.375rem;
$Font_Size_Small: 2.625rem;
$Font_Size_Tiny: 2.25rem;

/* 图标大小 */
$Img_Huge: 12rem;
$Img_Big: 9rem;
$Img_Mid: 6rem;
$Img_Small: 4.5rem;
$Img_Tiny: 3rem;
$Img_Mini: 2.25rem;